// colors

$bgColor = #F3eae2  // linen 
$primaryColor = #C49B4b
$accentColor = #82496e
$borderColor = #d5c594
$textColor = #272627

$codeBgColor = #0a0f22
$arrowBgColor = #D2D9F0
$badgeTipColor = #addde5
$badgeWarningColor = darken(#DCDC64, 0%)
$badgeErrorColor = #FD3A7A
$boxShadowColor = #f0f1f2

// b95864
$nightBorderColor = #82496e
$nightBgColor = #0a0707

$nightTextColor = #D2D9F0


$nightPrimaryColor = #cd9a60
$nightAccentColor = #a461d0

$nightCodeBgColor = #82496e
$nightBoxShadowColor = #82496e

$nightArrowBgColor = #addde5
$badgeWarningColor = darken(#ffe564, 35%)



// layout
$navbarHeight = 5.5rem
$sidebarWidth = 20rem
$contentWidth = 1280px
$homePageWidth = 1280px
$layoutWidth = 1280px
$mobileNavbarHeight = 3.875rem

// responsive breakpoints
$MQNarrow = 1023px

// Mobile originally 768
$MQMobile = 935px
$MQMobileNarrow = 419px

// TERPNET colors
// # TERPNET logo light
// # TERPNET logo dark
// # TERPNET bg dark
// # TERPNET bg middle
// # TERPNET bg light
// # TERPNET blu buttons
// # TERPNET wte
// # TERPNET molecule color
// # TERPNET assets bg
